<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Guest Book Demo{% endblock %}</title>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ asset('/bundles/rsworkguestbook/css/custom.css') }}" rel="stylesheet" type="text/css" />
    <!-- Bootstrap start -->
    {% include 'BraincraftedBootstrapBundle::_stylesheets.html.twig' %}
    <!-- Bootstrap end -->
  </head>
  <body>
    <div class="container">
      {% block body %}
      {% endblock %}
      {% include 'BraincraftedBootstrapBundle::_javascripts.html.twig' %}
      <hr />
      <footer>
      <p>RSwork Create. <a href="https://rivsen.rs-work.me">@Rivsen</a> <a href="https://saffi.rs-work.me">@Saffi</a> 
         Powered By <a href="http://www.symfony.com">Symfony2</a>!</p>
      </footer>
    </div>
  </body>
</html>
