parameters:
    database_driver: pdo_mysql
    database_host: localhost
    database_port: null
    database_name: guestbook
    database_user: root
    database_password: null
    mailer_transport: smtp
    mailer_host: localhost
    mailer_user: null
    mailer_password: null
    locale: en
    secret: 88d6a4a7436d7845d4693543ada88e6256d01f07
    database_path: null
